extends baseEmail 
block content 
  p Hi #{firstName},
    p Forgot password? Click the link below to reset your password. \n\n #{url}
    p This link will expire in 10 minutes.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset Password
    p Ignore this email if you haven't initiated password reset
    p - Sunil Chauhan, CEO